.Overlay {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 99;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  .content {
    .data {
      height: 500px;
      background: rgb(9, 60, 55);
      width: 400px;
      margin: 33px auto;
      padding: 20px;
      position: relative;
      border-radius: 10px;
      h2 {
        font-size: 30px;
        text-align: center;
        margin: 0;
        padding: 0;
        color: #fff;
        font-weight: 600;
      }
      p {
        font-size: 19px;
        text-align: center;
        color: #fff;
        font-weight: 500;
        margin: 0;
        padding: 10px 0px;
      }
      span {
        max-width: 200px;
        height: 200px;
        display: block;
        margin: 40px auto;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      button {
        min-width: 200px;
        max-width: 200px;
        background: #fff;
        max-height: 45px;
        margin: auto;
        min-height: 45px;
        display: block;
        border: solid 1px #fff;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 500;
      }
      h3 {
        font-size: 12px;
        text-align: center;
        margin: 0;
        padding: 20px 0px;
        color: #fff;
        font-weight: 500;
      }
      h4 {
        position: absolute;
        top: -40px;
        right: 30px;
        color: #fff;
        font-size: 40px;
        font-weight: 400;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 768px) and (min-width: 360px) {
  .Overlay {
    .content {
      padding: 0px 20px;
      .data {
        width: 100%;
        padding: 0;
        height: auto;
        h2 {
          font-size: 25px;
          padding: 10px 0px;
        }
        p {
          font-size: 14px;
          padding: 0px;
        }
        h4 {
          font-size: 25px;
          right: 15px;
          top: -25px;
        }
      }
    }
  }
}
