.Mainbox {
  display: block;
  padding-bottom: 70px;
  margin-top: 40px;
  .wrapper {
    width: 1230px;
    margin: auto;
    .content {
      display: block;
      h2 {
        font-size: 30px;
        margin: 0;
        padding: 0;
        text-align: center;
        font-weight: 600;
      }
      .detail {
        display: flex;
        justify-content: space-between;
        a {
          width: 31%;
          text-decoration: none;
          margin-top: 40px;
          position: relative;
          span {
            display: block;
            width: 100%;
            img {
              width: 100%;
            }
          }
          h2 {
            font-size: 16px;
            margin: 0;
            padding: 10px 20px;
            border-radius: 5px;
            text-align: center;
            font-weight: 600;
            color: #fff;
            position: absolute;
            bottom: 10%;
            transform: translateX(-50%);
            text-align: center;
            border: solid 1px #fff;
            display: inline-block;
            left: 50%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) and (min-width: 360px) {
  .Mainbox {
    .wrapper {
      width: 100%;
      .content {
        padding: 0px 10px;
        .detail {
          flex-wrap: wrap;
          a {
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) and (min-width: 769px) {
  .Mainbox {
    .wrapper {
      width: 100%;
      .content {
        padding: 0px 10px;
        .detail {
          flex-wrap: wrap;
          a {
            width: 48%;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1300px) and (min-width: 993px) {
  .Mainbox {
    .wrapper {
      width: 100%;
      .content {
        padding: 0px 10px;
        .detail {
          flex-wrap: wrap;
          a {
            width: 31%;
          }
        }
      }
    }
  }
}
