.Mainbox {
  display: block;
  margin-top: 10px;
  padding-bottom: 80px;
  .wrapper {
    width: 1230px;
    margin: auto;
    h2 {
      font-size: 35px;
      color: #111;
      margin: 0;
      padding: 30px 0px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 25px;
      li {
        font-size: 16px;
        color: #222;
        font-weight: 500;
        line-height: 25px;
        a {
          font-size: 16px;
          color: #222;
          font-weight: 500;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) and (min-width: 360px) {
  .Mainbox {
    padding: 0px 10px;
    padding-bottom: 80px;
    .wrapper {
      width: 100%;
      h2 {
        font-size: 30px;
      }
    }
  }
}
@media only screen and (max-width: 1300px) and (min-width: 768px) {
  .Mainbox {
    padding: 0px 10px;
    padding-bottom: 80px;
    .wrapper {
      width: 100%;
      h2 {
        font-size: 30px;
      }
    }
  }
}
